<html>
 <head></head>
 
 <body>
  <div class="info">
  　採用担当者様へ<br>
    このアプリはrails on line を利用して作った三択クイズアプリです。<br>
    クイズの問題制作と回答ができる単純なものです。<br>
    DBはmysqlを利用しています。<br>
    開発環境は以下の通りです。<br>
      開発環境：AWS Cloud9,phpMyAdmin,<br>
                heroku,heidiSQL,<br>
                <br>
    ポートフォリオと呼べるレベルではございませんが、現在の自分の理解力を示す指標として<br>
    挙げさせて頂きます。<br>
    
    最後になりますが、限りある時間の中このアプリに目を通して頂きありがとうございました。<br>
   </div>
   
   <%=link_to "トップに戻る", "/", method: :get , class: "tophe" %>
 </body>
 
</html>