<html>
 <head></head>
 
 <body>
  <div class="bg-mask">
  <div class="qsshow">
  <% @questions.each do |question| %>
    <%= question.title %>
    <%=link_to "問題へ", "/questions/#{question.id}/edit", method: :get  %><br>
  <% end %>
  </div>
  </div>
 </body>
 
</html>