<div class="bg-mask">
  <div class="user_page">
    <div class="user_name"><%= @user.username %>さんのページ</div>
    <div class="mypege_select">
      <%= render partial: "users/question", collection: @questions %>
    </div>
   
    <p><%= link_to '一覧へ戻る', "/", method: :get %></p>
  </div>
</div>