* {
    box-sizing: border-box;
}


body {
    height: 100vh;
    color: #000;
    text-align: center;
    font-size: 0.8rem;
    
    background-size: cover;
    
}

.bg-mask {
   height: 100%;
   width: 100%;
   background: rgba(255,255,255,0.3);
}

.qs_make {
  font-size: 1.0rem;
}

.title {
   color: rgb(100,100,200);
   font-size: 5.0rem;
   margin: 50px 0px 20px 0px;
}

.qsmenu {
    font-size: 1.8rem;
}

.qsedit {
    font-size: 1.8rem;
}

.qsupdate {
    font-size: 1.8rem;
}